body {
  margin: 0;
}

@keyframes grow {
  0% {
    --width: 0%;
  }
  12.5% {
    --width: 0.925%;
  }
  25% {
    --width: 1.85%;
  }
  37.5% {
    --width: 2.775%;
  }
  50% {
    --width: 3.7%;
  }
  62.5% {
    --width: 4.625%;
  }
  75% {
    --width: 5.55%;
  }
  87.5% {
    --width: 6.475%;
  }
  100% {
    --width: 7.4%;
  }
}

#personagem {
  position: absolute;
  height: 5vh;
  width: 5vw;
  right: calc(50% - 2.5vw);
  bottom: 0;
  background-image: url("../assets/svg/TG1-GSA.gif");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#tela-do-jogo {
  width: 100%;
  height: 100vh;
  background: url("../assets/img/space-background.jpg");
  background-size: cover;
}

/*PARADES DO JOGO*/
.parede {
  background: url("../assets/img/space-black.jpg");
  background-size: contain;
  height: 12.5vh;
  animation: grow 1s linear 1s both;
}

/*CONJUNTO DE DUAS PAREDES LATERAIS*/
.paredes-laterais {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

/*PASSAGEM LIVRE*/
.passagem-livre > .parede:first-child,
.passagem-livre > .parede:last-child {
  width: calc(var(--width) * 5.74);
}

/*PASSAGEM LIVRE MAIOR PARA POSTO*/
.passagem-livre-maior > .parede:first-child,
.passagem-livre-maior > .parede:last-child {
  width: var(--width);
}

/*PASSAGEM ZIG ZAG*/
.passagem-zig-zag:nth-child(1) > .parede:first-child,
.passagem-zig-zag:nth-child(1) > .parede:last-child,
.passagem-zig-zag:nth-child(2) > .parede:first-child,
.passagem-zig-zag:nth-child(3) > .parede:first-child,
.passagem-zig-zag:nth-child(5) > .parede:first-child,
.passagem-zig-zag:nth-child(6) > .parede:first-child,
.passagem-zig-zag:nth-child(7) > .parede:first-child,
.passagem-zig-zag:nth-child(7) > .parede:last-child,
.passagem-zig-zag:nth-child(8) > .parede:last-child {
  width: calc(var(--width) * 4.05);
}
.passagem-zig-zag:nth-child(2) > .parede:last-child,
.passagem-zig-zag:nth-child(6) > .parede:last-child {
  width: calc(var(--width) * 7.43);
}
.passagem-zig-zag:nth-child(3) > .parede:last-child,
.passagem-zig-zag:nth-child(4) > .parede:last-child,
.passagem-zig-zag:nth-child(5) > .parede:last-child {
  width: calc(var(--width) * 4.729);
}
.passagem-zig-zag:nth-child(4) > .parede:first-child,
.passagem-zig-zag:nth-child(8) > .parede:first-child {
  width: calc(var(--width) * 7.1);
}

/*PASSAGEM LIVRE A DIREITA*/
.passagem-livre-direita:nth-child(1) > .parede:first-child {
  width: calc(var(--width) * 7.43);
}
.passagem-livre-direita:nth-child(1) > .parede:last-child {
  width: calc(var(--width) * 4.05);
}
.passagem-livre-direita:nth-child(2) > .parede:first-child {
  width: calc(var(--width) * 6.513);
}
.passagem-livre-direita:nth-child(2) > .parede:last-child {
  width: calc(var(--width) * 4.97);
}
.passagem-livre-direita:nth-child(3) > .parede:first-child {
  width: calc(var(--width) * 5.594);
}
.passagem-livre-direita:nth-child(3) > .parede:last-child {
  width: calc(var(--width) * 5.89);
}
.passagem-livre-direita:nth-child(4) > .parede:first-child {
  width: calc(var(--width) * 4.675);
}
.passagem-livre-direita:nth-child(4) > .parede:last-child {
  width: calc(var(--width) * 6.81);
}
.passagem-livre-direita:nth-child(5) > .parede:first-child {
  width: calc(var(--width) * 3.756);
}
.passagem-livre-direita:nth-child(5) > .parede:last-child {
  width: calc(var(--width) * 7.729);
}
.passagem-livre-direita:nth-child(6) > .parede:first-child {
  width: calc(var(--width) * 2.837);
}
.passagem-livre-direita:nth-child(6) > .parede:last-child {
  width: calc(var(--width) * 8.648);
}
.passagem-livre-direita:nth-child(7) > .parede:first-child {
  width: calc(var(--width) * 1.918);
}
.passagem-livre-direita:nth-child(7) > .parede:last-child {
  width: calc(var(--width) * 9.567);
}
.passagem-livre-direita:nth-child(8) > .parede:first-child {
  width: var(--width);
}
.passagem-livre-direita:nth-child(8) > .parede:last-child {
  width: calc(var(--width) * 10.486);
}

/*PASSAGEM LIVRE A ESQUERDA*/
.passagem-livre-esquerda:nth-child(8) > .parede:first-child {
  width: calc(var(--width) * 7.43);
}
.passagem-livre-esquerda:nth-child(8) > .parede:last-child {
  width: calc(var(--width) * 4.05);
}
.passagem-livre-esquerda:nth-child(7) > .parede:first-child {
  width: calc(var(--width) * 6.513);
}
.passagem-livre-esquerda:nth-child(7) > .parede:last-child {
  width: calc(var(--width) * 4.97);
}
.passagem-livre-esquerda:nth-child(6) > .parede:first-child {
  width: calc(var(--width) * 5.594);
}
.passagem-livre-esquerda:nth-child(6) > .parede:last-child {
  width: calc(var(--width) * 5.89);
}
.passagem-livre-esquerda:nth-child(5) > .parede:first-child {
  width: calc(var(--width) * 4.675);
}
.passagem-livre-esquerda:nth-child(5) > .parede:last-child {
  width: calc(var(--width) * 6.81);
}
.passagem-livre-esquerda:nth-child(4) > .parede:first-child {
  width: calc(var(--width) * 3.756);
}
.passagem-livre-esquerda:nth-child(4) > .parede:last-child {
  width: calc(var(--width) * 7.729);
}
.passagem-livre-esquerda:nth-child(3) > .parede:first-child {
  width: calc(var(--width) * 2.837);
}
.passagem-livre-esquerda:nth-child(3) > .parede:last-child {
  width: calc(var(--width) * 8.648);
}
.passagem-livre-esquerda:nth-child(2) > .parede:first-child {
  width: calc(var(--width) * 1.918);
}
.passagem-livre-esquerda:nth-child(2) > .parede:last-child {
  width: calc(var(--width) * 9.567);
}
.passagem-livre-esquerda:nth-child(1) > .parede:first-child {
  width: var(--width);
}
.passagem-livre-esquerda:nth-child(1) > .parede:last-child {
  width: calc(var(--width) * 10.486);
}

/*PASSAGEM BIFURCADA*/
.passagem-bifucada:nth-child(8) > .parede:first-child {
  width: calc(var(--width) * 5.74);
}
.passagem-bifucada:nth-child(8) > .parede:last-child {
  width: calc(var(--width) * 5.74);
}
.passagem-bifucada:nth-child(7) > .parede:first-child {
  width: calc(var(--width) * 4.729);
}
.passagem-bifucada:nth-child(7) > .parede:last-child {
  width: calc(var(--width) * 4.729);
}
.passagem-bifucada:nth-child(6) > .parede:first-child {
  width: calc(var(--width) * 3.716);
}
.passagem-bifucada:nth-child(6) > .parede:nth-child(2) {
  width: calc(var(--width) * 2.027);
}
.passagem-bifucada:nth-child(6) > .parede:last-child {
  width: calc(var(--width) * 3.716);
}
.passagem-bifucada:nth-child(5) > .parede:first-child {
  width: calc(var(--width) * 2.702);
}
.passagem-bifucada:nth-child(5) > .parede:nth-child(2) {
  width: calc(var(--width) * 4.05);
}
.passagem-bifucada:nth-child(5) > .parede:last-child {
  width: calc(var(--width) * 2.702);
}
.passagem-bifucada:nth-child(4) > .parede:first-child {
  width: calc(var(--width) * 2);
}
.passagem-bifucada:nth-child(4) > .parede:nth-child(2) {
  width: calc(var(--width) * 6.08);
}
.passagem-bifucada:nth-child(4) > .parede:last-child {
  width: calc(var(--width) * 2);
}
.passagem-bifucada:nth-child(3) > .parede:first-child {
  width: calc(var(--width) * 2);
}
.passagem-bifucada:nth-child(3) > .parede:nth-child(2) {
  width: calc(var(--width) * 6.08);
}
.passagem-bifucada:nth-child(3) > .parede:last-child {
  width: calc(var(--width) * 2);
}
.passagem-bifucada:nth-child(2) > .parede:first-child {
  width: var(--width);
}
.passagem-bifucada:nth-child(2) > .parede:nth-child(2) {
  width: calc(var(--width) * 7.43);
}
.passagem-bifucada:nth-child(2) > .parede:last-child {
  width: var(--width);
}
.passagem-bifucada:nth-child(1) > .parede:first-child {
  width: var(--width);
}
.passagem-bifucada:nth-child(1) > .parede:nth-child(2) {
  width: calc(var(--width) * 7.43);
}
.passagem-bifucada:nth-child(1) > .parede:last-child {
  width: var(--width);
}
